<app-Header></app-Header>
<ng-container *ngIf="true">
  <DIV CLASS="top"></DIV>
  <div class="container">
<div class="card-table">
  <div class="cart-product">
    <table class="table responsive">
      <thead>
        <tr>
          <th>S.NO</th>
          <th>PRODUCT IMAGE</th>
          <th>PRODUCT NAME</th>
          <th>PRODUCT DESCRIPTION</th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>TOTAL</th>
          <th>DELETE</th>

        </tr>
      </thead>
    </table>
  </div></div>
</div>
</ng-container>


<ng-container *ngIf="false">
<div class="top"></div>
<div class="container">
  <div class="card">
    <h5 class="card-title">My Cart</h5>
  </div>
  <div class="center">
    <img src="../assets/images/emptycart1.png"><br><br>
    <h4>Your Cart is Empty !</h4>
    <h6>Add Items to it Now</h6>
    <button class="shop-now">Shop Now</button>
  </div>
</div>
</ng-container>
